body {
  background-color: #ffffff !important;
  font-family: 'Alkatra', 'Caveat', cursive !important;
  display: flex;
  flex-direction: column;
}


.b4-head {

  height: 100px;
  background-color: #332F2C;
  box-sizing: border-box;
}

.b4-head a svg {
  height: 80px;
  width: auto;
  align-self: center;
  margin: 10px;
}

.d-inline-flex{
  align-self: center !important;
  height: 100px;
  background-color: #332F2C;
  box-sizing: border-box;
}

#Logo{

  width: 95%;
  padding: 5px;
  margin-left: 15px;
}
.navBar{
  border-radius: 70px;
  border-color: #006F9A;
  width: 500px;
  height: 40px;
  margin-top: 40px ;
  margin-left: 40px;
}

/* Input boxes display*/
.form-control {
  align-self:center;
  height: 25px;
  width: 75% !important;
  border-radius: 1rem !important;
}

.icon-link {
  box-sizing: border-box;
  align-self: flex-start;
}

nav {
  background-color: #817E7525;
  height: fit-content;
  width: 100%;
  text-align: center;
  border-top: 5px grey solid;
}

.link-nav-h {
  font-size: 20px;
  display: inline-block;
  background: linear-gradient(120deg, #046b9b 0%, #1b6b0c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px;
  padding: 5px;
}

.link-nav-h:hover{
  text-decoration:underline;
}

#main {
  padding: 40px;
}

#bio {
  max-width: 600px;
  border: 5px #006F9A solid;
  border-radius: 5px;
  color: #060707 !important;
  padding: 10px;
  text-align: justify;
}

#bio a {
  align-content: center;
}


.site-Btn {
	background-color:#D8D8D8;
	border-radius:70px;
	display:inline-block;
	cursor: pointer;
	color:#000000;
	font-size:17px;
	padding: 6px 21px;
  margin: 5px;
  text-align: center;
}

.site-Btn:hover {
	background-color:#046b9b;
  color: #e0e0e0;
}

.site-Btn:active {
	position:relative;
	top:1px;
}

#calendar {
  margin: auto;
  color: #060707 !important;
  align-self: center;
}

#calendar table {
  border: 5px #006F9A solid;
}

#calendar table th {
  text-align: center;
}

footer {
  background-color: #D9D9D9;
  margin-top: auto;
  position: relative;
}

.link-nav-f {
  color: #332F2C;
  height: auto;
  font-size: 20px;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
}

.link-nav-f:hover{
  box-sizing: content-box;
  text-decoration: underline;
}

.captcha-piece img{
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
}

.captcha-destination{
  width: 300px;
  height: 300px;
}

.captcha-destination div{
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
}

.material {
  width: calc((100% - 6%) / 4);
  height: 100%;
  margin-left: 7px;
  margin-right: 7px;
  padding: 0;
}

.material .image{
  max-width: 100%;
  height: auto;
}

.addMaterial {
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 10px;
    z-index: 1000000;
    overflow: hidden;
    top: initial;
    height: auto;
    width: auto;
}

/*Calendar CSS style*/
.calendar {
  display: flex;
  flex-flow: column;
}
.calendar .header .month-year {
  font-size: 20px;
  font-weight: bold;
  color: #636e73;
  padding: 20px 0;
}
.calendar .days {
  display: flex;
  flex-flow: wrap;
}
.calendar .days .day_name {
  width: calc(50% / 7);
  height: calc(50%/7);
  border-right: 1px solid #2c7aca;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #818589;
  color: #fff;
  background-color: #448cd6;
}
.calendar .days .day_name:nth-child(7) {
  border: none;
}
.calendar .days .day_num {
  display: flex;
  flex-flow: column;
  width: calc(50% / 7);
  border-right: 1px solid #e6e9ea;
  border-bottom: 1px solid #e6e9ea;
  padding: 15px;
  font-weight: bold;
  color: #7c878d;
  cursor: pointer;
  min-height: 75px;
}
.calendar .days .day_num span {
  display: inline-flex;
  text-align: center;
  width: 15px;
  font-size: 14px;
}
.calendar .days .day_num .event {
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  padding: 3px 6px;
  border-radius: 4px;
  background-color: #f7c30d;
  color: #fff;
  word-wrap: break-word;
}
.calendar .days .day_num .event.green {
  background-color: #51ce57;
}
.calendar .days .day_num .event.blue {
  background-color: #518fce;
}
.calendar .days .day_num .event.red {
  background-color: #ce5151;
}
.calendar .days .day_num:nth-child(7n+1) {
  border-left: 1px solid #e6e9ea;
}
.calendar .days .day_num:hover {
  background-color: #fdfdfd;
}
.calendar .days .day_num.ignore {
  background-color: #fdfdfd;
  color: #ced2d4;
  cursor: inherit;
}
.calendar .days .day_num.selected {
  background-color: #f1f2f3;
  cursor: inherit;
}
