body {
  background-color: #fff5ee;
}

.header {
  padding-bottom: 5px;
}

#Logo{
  height: 60px;
  width: auto;
}

nav {
  height: auto;
  text-align: left;
  padding: 10px;
  border-top: 1px grey solid;
}

.link-nav-h {
  font-size: 20px;
  text-decoration: none;
  background: linear-gradient(120deg, #046b9b 0%, #1b6b0c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px;
  padding: 5px;
}

.link-nav-h:hover{
  border: 1px grey solid;
  border-radius: 30%;
}
